python-dotenv
git+https://github.com/MedicalSchoolHamburgBiomechLab/BiomechLabTools.git#egg=labtools
numpy
matplotlib
scipy
pandas
contourpy
kiwisolver
h5py
seaborn
lxml
ruptures
python-dateutil
pytz
tzdata
